body {
  background-color: rgb(252,142,102);
}

#heart {
  position: absolute;
  width: 100px;
  height: 90px;
}

#heart:before,
#heart:after {
  position: absolute;
  content: '';
  left: 50px;
  top: 0;
  width: 50px;
  height: 90px;
  background: rgb(250, 63, 63);
  border-radius: 50px 50px 0 0 ;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
 
}


#heart:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}